:root {
  --gray-fg: #cecece;
  --picker-border: #808080;
  --picker-border-selected: #b0b0b0;
  --floating-controls-bg: rgba(42, 42, 42, 0.5);
  --picker-selected-bg: rgba(70, 70, 70, 0.5);
}

:root,
html {
  background: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.row,
nav section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.align-top {
  align-items: start;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;

  a {
    color: var(--gray-fg);
    text-decoration: none;
  }

  #home-tab {
    font-weight: bold;
    color: white;
  }
}

nav section {
  column-gap: 1rem;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.headline {
  font-size: 6rem;
  margin: 0;
}

.subheadline {
  font-size: 2rem;
  color: var(--gray-fg);
  margin: 0;
}

#hero-image {
  margin-top: 6rem;
}

.desktop-preview {
  height: 60vh;
  border-radius: 0.8rem;
}

#floating-controls {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  border-radius: 0.5rem;
  background: var(--floating-controls-bg);
  padding: 1rem;
  backdrop-filter: blur(1rem);
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.label {
  font-size: 0.75rem;
  color: var(--gray-fg);
  font-weight: medium;
  padding-bottom: 0.2rem;
}

.picker {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--picker-border);
  border-radius: 0.5rem;
}

.picker .option {
  box-sizing: border-box;
  margin: -2px;
  width: 7rem;
  height: 2.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 2px solid var(--picker-border);
  color: var(--gray-fg);
  cursor: pointer;

  &:last-child {
    border-right: none;
  }

  &:hover {
    background: var(--picker-selected-bg);
  }
}

.picker .option.selected {
  border: 3px solid var(--picker-border-selected);
}

.picker .option:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.picker .option:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
